@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap%22");

$font-main: 'Lato', sans-serif;
$font-secondary: 'Oswald', sans-serif;
$font-terciary: 'Inter';

/*https://coolors.co/2b2b2b-6ea571-aa7c79-e55381-ee8c90-f7c59f-fbe2cf-ffffff*/
$cp1-darkest: #2b2b2b;
$cp1-darkerer: #6ea571;
$cp1-darker: #aa7c79;
$cp1-dark: #e55381;
$cp1-light: #ee8c90;
$cp1-lighter: #f7c59f;
$cp1-lighterer: #fbe2cf;
$cp1-lightest: #ffffff;
