/*Component Login.jsx*/
.login__background {
  color: $cp1-lightest;
  background: $cp1-darkest;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 3rem 10rem;

  /*Flex para el contenido*/
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  height: 100vh;
}
.login__content {
  text-align: center; /* Centra horizontalmente */
  vertical-align: middle; /* Centra verticalmente */
  padding: 15vh 10vh;
  width: 69rem;
  
  background-color: rgb(0, 0, 0); /*Test only*/
  img, p, button {
    margin: 4rem 0;
  }
}


/*Component LoginMenu*/
.login-menu__title {
  position: absolute;
  top: 0;
  left: calc(50% - 4.93rem);
  font-size: 1.5rem;
  background: linear-gradient(0deg, #75a282, #9cf0b4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.login-menu__logo {
  margin-top: 5%;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  object-fit: fill;
}
.login-menu__button {
  &--login{
    margin: 0 auto;
    border-radius: var(--br-3xs);
    background: linear-gradient(90deg, #9cf0b4, #75a282);
    width: 13rem;
    height: 3rem;
    cursor: pointer;
    /*Flex para el contenido*/
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    margin-bottom: 2rem;
  }
  &--register{
    margin: 0 auto;
    border-radius: var(--br-3xs);
    background: linear-gradient(90deg, #9cf0b4, #75a282);
    width: 13rem;
    height: 3rem;
    cursor: pointer;
    /*Flex para el contenido*/
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */ 
  }
}
.login-menu__text {
  &--login{
    font-size: 1.5rem;
  }
  &--register{
    font-size: 1.5rem;
  }
}
.login-menu__container {
  &--main{
    font-family: $font-terciary;
    position: relative;
    background-color: $cp1-darkest;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    padding: 15vh 17vw;
  }
  &--content{
    width: 100%;
    height: 100%;
    padding: 2rem;
    /*Flex para el contenido*/
    display: inline-block;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
  }
  &--login-buttons{
    margin: 3rem;
  }
  &--logo{
    position: relative;
    margin: 0 auto;
    width: 20rem;
    height: 18rem;
  }
}


/*Component LoginIn.jsx*/



/*Component LoginRegister.jsx*/



/*Component LoginForgotPass.jsx*/

